# Dependencies
node_modules
vendor

# Ruby files
Gemfile
Gemfile.lock

# Build output
_site
.jekyll-cache
.sass-cache

# Binary files
*.jpg
*.jpeg
*.gif
*.png
*.ico
*.pdf
*.zip
*.tar
*.gz

# Other
.DS_Store
.git
LICENSE
*.html
assets/css/main.css
googleb3b65b7564a8cdfe.html
