@use "variables" as *;
@use "themes" as *;
@use "layout" as *;
@use "videos" as *;

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  color: var(--global-theme-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--global-hover-color);
  }
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}
