/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "variables" as *;

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #0076df;
  --global-hover-color: #0056b3;
  --global-hover-text-color: #fff;
  --global-footer-bg-color: #{$white-color};
  --global-footer-text-color: #{$black-color};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$black-color};
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #{$white-color};
}

html[data-theme='dark'] {
  --global-bg-color: #1c1c1d;
  --global-code-bg-color: #2c3237;
  --global-text-color: #e6e6e6;
  --global-theme-color: #2698BA;
  --global-hover-color: #2698BA;
  --global-hover-text-color: #fff;
  --global-footer-bg-color: #1c1c1d;
  --global-footer-text-color: #e6e6e6;
  --global-footer-link-color: #e6e6e6;
  --global-distill-app-color: #e6e6e6;
  --global-divider-color: #424246;
  --global-card-bg-color: #212529;
}
