/*******************************************************************************
 * Variables used throughout the theme.
 ******************************************************************************/

// Colors
$black-color: #000000 !default;
$white-color: #ffffff !default;
$grey-color: #828282 !default;
$grey-color-light: #e5e5e5 !default;
$grey-color-dark: #1c1c1d !default;
$grey-900: #212529 !default;

// Theme colors
$code-bg-color-light: #f8f9fa !default;
$code-bg-color-dark: #2c3237 !default;
$purple-color: #b509ac !default;
$cyan-color: #2698ba !default;

// Layout
$max-content-width: 800px !default;
$content-width: 45rem !default;

// Font sizes
$base-font-size: 16px !default;
$small-font-size: 14px !default;
$tiny-font-size: 12px !default;

// Spacing
$spacing-unit: 30px !default;
$spacing-unit-sm: 10px !default;
$spacing-unit-lg: 50px !default;
