.video-link {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    
    a {
        margin-right: 0.5rem;
        font-size: 1.5rem;
        text-decoration: none;
        
        &:hover {
            opacity: 0.8;
        }
    }
    
    .video-description {
        font-size: 1rem;
    }
} 

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 1rem 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .video-description {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        color: var(--global-text-color-light);
    }
} 